
.home-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue


}
.nav-category{
    display: flex;
    gap: 30px;
    
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.1fr));
    gap: 20px;
    list-style: none;
    
}   
.project-list > li{
    border: 2px solid black;
    padding: 50px;
}

.to-do{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
} 

#description{
    resize: none;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:  fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-image: linear-gradient(lightblue, white);
    
}
.form-content{
    padding: 50px;
    background-image: linear-gradient(white, lightblue);
    border-radius: 10px;
    width: 25%;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form>*{
    display: flex;
    width: 90%;
   margin-bottom: 5px;
   
   
   
}
label{
    font-size: 20px;
}
input[type='text'], select, textarea, input[type='date']{
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    width: 100%;
    
}
textarea:focus{
    border-color: rgba(20, 20, 20, .8);
    padding: 10px 30px;
}
.submit{
    border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}
.submit:hover{
    background: rgba(20, 20, 20, .8);
    padding: 10px 90px;
}
.none{
    display: none;
}
.newTaskTitle{
    color: blue;
}
.priority-high{
    border-inline: 3px solid red ;
}
.priority-medium{
    border-inline: 3px solid orange; 
}
.priority-low{
    border-inline: 3px solid green; 
}