body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
#content{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.main{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;

}
.header{
    width: 100%;
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
}
.nav-bar{
    border-right: 2px solid grey;
    background-color: lightgray;
    padding: 20px;
}
.main-content{
    padding: 40px;
    width: 600px;
    height: 500px;
}
.to-do{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
} 

#description{
    resize: none;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: lightblue;
    padding: 20px;
}
.form-content{
    padding: 35px;
    border: 2px solid black;
    border-radius: 10px;
    
}
form>*{
    display: flex;
   width: 100%;
   margin-bottom: 5px;
   
}
.none{
    display: none;
}
.newTaskTitle{
    color: blue;
}
.priority-high{
    border-inline: 3px solid red ;
}
.priority-medium{
    border-inline: 3px solid orange; 
}
.priority-low{
    border-inline: 3px solid green; 
}